* {
    margin: 0;
    padding: 0;
}


#top, #bottom {
    clear: both;
    height: 80px;
    background: #337ab7;
    height: 80px;
}

#top #logo {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0 0 40px;
}

#main {
    margin: 10px;
    overflow: hidden;

}

#main a {
    color: #fff;
    text-decoration: none;
}

#left {
    width: 240px;
    float: left;
    height: 660px;
    /*padding-left: 20px;*/
}

#right {
    margin-top: 10px;
    margin-right: 40px;
    width: 960px;
    height: 660px;
    float: left;
}


.yi {
    width: 160px;
    height: 40px;
    background: #337ab7;
    color: #fff;
    margin-top: 5px;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
}

.er {
    list-style: none;
    width: 160px;
}

.er li {
    margin-top: 2px;
    text-align: center;
    background: #cccccc;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}


#container {
    width: 100%;
    margin: 10px auto;
}

#container .selected {
    background: #337ab7;
    color: #fff;
}

